<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CEA103G3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/Project</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
<!-- 01版本     -->
  <servlet>
    <servlet-name>ReportCommentServlet</servlet-name>
    <servlet-class>com.report_comment.controller.ReportCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportCommentServlet</servlet-name>
    <url-pattern>/report_comment/reportcomment.do</url-pattern>
  </servlet-mapping>

<!-- 0201版本   -->
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.comment.controller.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment/comment.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>com.movie.controller.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/movie/movie.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RatingServlet</servlet-name>
    <servlet-class>com.rating.controller.RatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingServlet</servlet-name>
    <url-pattern>/rating/rating.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ExpectationServlet</servlet-name>
    <servlet-class>com.expectation.controller.ExpectationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpectationServlet</servlet-name>
    <url-pattern>/expectation/expectation.do</url-pattern>
  </servlet-mapping>
  
<!-- 其他人   -->
  <servlet>
    <servlet-name>SimpleCaptchaEndpoint</servlet-name>
    <servlet-class>com.captcha.botdetect.web.servlet.SimpleCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleCaptchaEndpoint</servlet-name>
    <url-pattern>/simple-captcha-endpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BotDetect Captcha</servlet-name>
    <servlet-class>com.captcha.botdetect.web.servlet.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BotDetect Captcha</servlet-name>
    <url-pattern>/botdetectcaptcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test_DataSource</servlet-name>
    <servlet-class>Test_DataSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test_DataSource</servlet-name>
    <url-pattern>/Test_DataSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovieRatingServlet</servlet-name>
    <servlet-class>com.movieRating.controller.MovieRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieRatingServlet</servlet-name>
    <url-pattern>/movieRating/movieRating.do</url-pattern>
  </servlet-mapping>
  

  
<!-- 電影顯示圖片 -->
  <servlet>
    <servlet-name>DBGifReader1</servlet-name>
    <servlet-class>com.movie.controller.DBGifReader1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader1</servlet-name>
    <url-pattern>/movie/DBGifReader1.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DBGifReader2</servlet-name>
    <servlet-class>com.movie.controller.DBGifReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader2</servlet-name>
    <url-pattern>/movie/DBGifReader2.do</url-pattern>
  </servlet-mapping>
  
<!-- 處裡特定字碼集的濾器   -->
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>TheaterServlet</servlet-name>
    <servlet-class>com.theater.controller.TheaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheaterServlet</servlet-name>
    <url-pattern>/theater/theater.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowtimeServlet</servlet-name>
    <servlet-class>com.showtime.controller.ShowtimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowtimeServlet</servlet-name>
    <url-pattern>/showtime/showtime.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Ticket_typeServlet</servlet-name>
    <servlet-class>com.ticket_type.controller.Ticket_typeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ticket_typeServlet</servlet-name>
    <url-pattern>/ticket_type/ticket_type.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>com.food.controller.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/food/food.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Ord_foodServlet</servlet-name>
    <servlet-class>com.ord_food.controller.Ord_foodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ord_foodServlet</servlet-name>
    <url-pattern>/ord_food/ord_food.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Ord_ticket_typeServlet</servlet-name>
    <servlet-class>com.ord_ticket_type.controller.Ord_ticket_typeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ord_ticket_typeServlet</servlet-name>
    <url-pattern>/ord_ticket_type/ord_ticket_type.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.order.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order/order.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.article.controller.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/front-end/article/article.do</url-pattern>
  </servlet-mapping>
  
	<servlet>
	    <servlet-name>ReplyServlet</servlet-name>
	    <servlet-class>com.reply.controller.ReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ReplyServlet</servlet-name>
	    <url-pattern>/reply/reply.do</url-pattern>
	</servlet-mapping>
   
       <servlet>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>com.topic.controller.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/topic/topic.do</url-pattern>
  </servlet-mapping>
  
         <servlet>
    <servlet-name>Report_ArticleServlet</servlet-name>
    <servlet-class>com.report_article.controller.Report_ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report_ArticleServlet</servlet-name>
    <url-pattern>/report_article/report_article.do</url-pattern>
  </servlet-mapping>
  
           <servlet>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>com.like.controller.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/like/like.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.message.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message/message.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.group.controller.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/group/group.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Group_MemberServlet</servlet-name>
    <servlet-class>com.group_member.controller.Group_MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group_MemberServlet</servlet-name>
    <url-pattern>/group_member/group_member.do</url-pattern>
  </servlet-mapping>
   
   

  
     <servlet>
    <servlet-name>Report_GroupServlet</servlet-name>
    <servlet-class>com.report_group.controller.Report_GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report_GroupServlet</servlet-name>
    <url-pattern>/report_group/report_group.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RelationshipServlet</servlet-name>
    <servlet-class>com.relationship.controller.RelationshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelationshipServlet</servlet-name>
    <url-pattern>/relationship/relationship.do</url-pattern>
  </servlet-mapping>

  
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/emp/emp.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/back-end/employee/employee.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AuthorityServlet</servlet-name>
    <servlet-class>com.authority.controller.AuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityServlet</servlet-name>
    <url-pattern>/back-end/authority/authority.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>FunctionServlet</servlet-name>
    <servlet-class>com.function.controller.FunctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FunctionServlet</servlet-name>
    <url-pattern>/back-end/function/function.do</url-pattern>
  </servlet-mapping>
  
  
   <!-- 電影顯示圖片_Elvis -->
  <servlet>
    <servlet-name>DBGifReader4_movie</servlet-name>
    <servlet-class>com.movie.controller.DBGifReader1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader4_movie</servlet-name>
    <url-pattern>/movie/DBGifReader4.do</url-pattern>
  </servlet-mapping>
  
  
    <!-- 會員顯示圖片_Elvis -->
  <servlet>
    <servlet-name>DBGifReader4_member</servlet-name>
    <servlet-class>com.mem.controller.DBGifReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader4_member</servlet-name>
    <url-pattern>/mem/DBGifReader4.do</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<servlet-name>NameServlet</servlet-name>
		<servlet-class>idv.david.websocketchat.controller.NameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameServlet</servlet-name>
		<url-pattern>/chat.do</url-pattern>
	</servlet-mapping>
	
	
	  <servlet>
    <servlet-name>AccountActivate</servlet-name>
    <servlet-class>com.mem.controller.AccountActivate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountActivate</servlet-name>
    <url-pattern>/mem/accountactivate.do</url-pattern>
  </servlet-mapping>
  
	
 	 <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/back-end/ord_ticket_type/addOrd_ticket_type2.jsp</url-pattern>
    <url-pattern>/front-end/group/addGroup.jsp</url-pattern>
    <url-pattern>/front-end/relationship/select_page.jsp</url-pattern>
    <url-pattern>/front-end/article/addArticle.jsp</url-pattern>
    <url-pattern>/front-end/group/group_listMyGroups.jsp</url-pattern>
    <url-pattern>/front-end/report_group/addReport_Group.jsp</url-pattern>
    <url-pattern>/front-end/mem/memberSys.jsp</url-pattern>
    <url-pattern>/front-end/mem/memberInfo.jsp</url-pattern>
    <url-pattern>/front-end/article/listOneArticle2.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
</web-app>